{% extends "base.html.twig" %}

{% block title %}
    Se connecter - {{parent()}}
{% endblock %}

{% block body %}
    <div class="container">

        {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey |trans(error.messageData, 'security') }}
        </div>
        {% endif %}

        <form action="{{path('login')}}" method="post" autocomplete="off" class="col-lg-8 mt-5">
            <div class="form-group">
                <label for="username">Nom d'utilisteur</label>
                <input type="text" id="username" name="_username" class="form-control" value="{{ lastUsername }}">
            </div>
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" id="password" name="_password" class="form-control">
            </div>

            <button type="submit" class="btn btn-success">Se connecter</button><a href="" class="text-info"> Identifiants oubliés ?</a>
        </form>

        
    </div>
{% endblock %}