<nav>
    <ul>
        <li class="badge badge-category"><a href="{{ path('admin.product.index') }}">Produits</a></li>
        <li class="badge badge-category"><a href="{{ path('admin.category.index') }}">Catégories de produits</a></li>
        <li class="badge badge-category"><a href="{{ path('admin.order.index') }}">Commandes</a></li>
        <li class="badge badge-category"><a href="{{ path('admin.user.index') }}">Administrateurs</a></li>
    </ul>
</nav>