/* GLOBAL */

body
{
    background-image: url('/assets/img/background.png');
}
.min-height
{
    min-height: 85vh;
}
h1
{
    font-family: 'Holtwood One SC', sans-serif;
    color: #eb6636;
    text-shadow: 2px 2px #ffd301;
    font-size: 50px;
    padding: 40px 0px;
    text-align: center;
}
h1 i
{
    color: #ffd301;
    text-shadow: 0px 0px #ffd301;
}
h2
{
    font-family: 'Holtwood One SC', sans-serif;
    color: #eb6636;
    text-shadow: 1px 1px #ffd301;
    font-size: 22px;
}
table
{
 background-color: #eee;
}
label
{
    font-family: 'Holtwood One SC', sans-serif;
    color: #eb6636;
    text-shadow: 1px 1px #ffd301;
    font-size: 16px;
}
a.disabled 
{
    pointer-events: none;
    cursor: default;
}

/* NAV */

.badge-category
{
    background: #eee;
    text-shadow: 2px 2px #333;
    margin: 3px 1px;
}
.badge-category:focus, .badge-category:hover 
{
    background-color: #eb6636;
}
.badge-category a:hover 
{
    color: #eee;
}
.badge-category a
{
    display: inline-block;
    font-family: 'Holtwood One SC', sans-serif;
    width: 100%;
    padding: 8px 15px;
    font-size: 18px;
    text-decoration: none;
    color: #eb6636;
}
nav
{
    margin-bottom: 60px;
}


/* PRODUCTS */

.product-card-price{
    position: relative;
}
.product-card-price
{
    background: #5cb85c;
    box-shadow: 0 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 1px rgba(0,0,0,0.2);
    color: #fff;
    text-shadow: 2px 2px #333;
    font-family: 'Holtwood One SC', sans-serif;
    position: absolute;
    right: -10px;
    top: 20px;
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 3px;
}
.product-card-price:before 
{
    border: 4px solid transparent;
    border-bottom: 4px solid #4a934a;
    border-left: 4px solid #4a934a;
    content: "";
    position: absolute;
    right: 1px;
    top: -8px;
}