{{form_start(form)}}

<div class="row">
    <div class="form-group">{{ form_row(form.name) }}</div>
</div>
<button class="btn btn-success"><i class="far fa-save"></i> Enregistrer</button>

{{form_end(form)}}