{% extends "base.html.twig" %}

{% block title %}
    Products - {{ parent() }}
{% endblock %}

{% block body %}

    <div class="container">
        <nav>
            <ul>
                {% for category in categories %}
                <li class="badge badge-category"><a href="#">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </div>

{% endblock %}